@*
    RasDashboard - ASP.Net Core 8 App - Developed by Ali Emin Çomoğlu | 2025
*@

@page
@model RasDashboard.Pages.Employees.EmployeeIndexModel
@{
    ViewData["title"] = "Employee";
    ViewData["subTitle"] = "Occupancy Form";
    ViewData["script"] = @"<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Current Task</h5>
        </div>
        <div class="card-body">
            <form class="row gy-3 needs-validation" method="post" enctype="multipart/form-data" novalidate>
                <input type="hidden" name="TaskItem.Id" value="@Model.TaskItem?.Id" />
                <input type="hidden" name="TaskItem.IsCurrent" value="@Model.TaskItem?.IsCurrent.ToString().ToLower()" />
                <input type="hidden" name="TaskItem.IsCompleted" value="@Model.TaskItem?.IsCompleted.ToString().ToLower()" />
                <div class="col-md-6">
                    <label class="form-label">Appartment</label>
                    <select class="form-select-lg" name="TaskItem.RoomIds" required>
                        <option disabled selected>Select Apartment</option>
                        @foreach (var room in Model.Rooms)
                        {
                            <option value="@room.Id" selected="@(Model.TaskItem?.RoomIds.Contains(room.Id) == true)">
                                @room.Name
                            </option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Task</label>
                    <div class="d-flex align-items-center flex-wrap gap-28">
                        @foreach (var task in Model.Tasks)
                        {
                            <div class="form-switch switch-primary d-flex align-items-center gap-3">
                                <input class="form-check-input" type="checkbox" name="TaskItem.TaskIds" value="@task.Id" id="switch-@task.Id"
                                       @(Model.TaskItem?.TaskIds.Contains(task.Id) == true ? "checked" : "")/>
                                <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="switch-@task.Id">@task.Name</label>
                            </div>
                        }
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <environment include="Development">
                    <div class="col-md-6">
                        <label class="form-label">Media </label>
                        @if (Model.TaskItem?.MediaFiles != null && Model.TaskItem.MediaFiles.Any())
                        {
                            <ul>
                                @foreach (var file in Model.TaskItem.MediaFiles)
                                {
                                    <li>@file.FileName</li>
                                }
                            </ul>
                        }
                        <input class="form-control" type="file" name="TaskItem.MediaFiles" multiple/>
                        <div class="invalid-feedback">
                            Please choose a file.
                        </div>
                    </div>
                </environment>

                <div class="col-12 text-center">
                    @if (Model.TaskItem != null && Model.TaskItem.IsCurrent == true)
                    {
                        <button class="btn btn-success" type="submit" name="action" value="update">Update</button>
                        <button class="btn btn-danger-600" type="submit" name="action" value="stop">Stop</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit" name="action" value="create">Start</button>
                    }
                </div>

            </form>

        </div>
    </div>
</div>
