@*
    RasDashboard - ASP.Net Core 8 App - Developed by Ali Emin Çomoğlu | 2025
*@
@page
@model IndexModel
@{
    ViewData["title"] = "Dashboard";
    ViewData["subTitle"] = "Employees Overview";
ViewData["script"] = @"<script>
    $(document).ready(function () {
        let table = new DataTable('#dataTable');

        function initializeTooltips() {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle=""tooltip""]');
            tooltipTriggerList.forEach(el => new bootstrap.Tooltip(el));
        }

        initializeTooltips();

        $('#dataTable').on('draw.dt', function () {
            initializeTooltips();
        });
    });
</script>";
}

<div class="card basic-data-table">
    <div class="card-header">
        <h5 class="card-title mb-0">Employee Occupancy</h5>
    </div>
    <div class="card-body">
        <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
            <thead>
            <tr>
                <th scope="col">
                    <div class="form-check style-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                           Email
                        </label>
                    </div>
                </th>
                <th scope="col">Name</th>
                <th scope="col">Occupancy</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td><a href="javascript:void(0)" class="text-primary-600">@employee.Email</a></td>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="~/images/user-list/user-list1.png" alt="" class="flex-shrink-0 me-12 radius-8">
                            <h6 class="text-md mb-0 fw-medium flex-grow-1">@employee.Name</h6>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info-100 text-info-600 radius-8 px-32 py-11" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-info" data-bs-title="@employee.TooltipTaskTitles">
                            @(employee.ActiveTaskName ?? "No Active Task")
                        </button>
                      
                    </td>
                    <td> 
                                           @if (employee.Status == "Occupied")
                                           {
                                               <span class="bg-warning-focus text-warning-main px-24 py-4 rounded-pill fw-medium text-sm">@employee.Status</span>
                                           }
                                           else if (employee.Status == "Free")
                                           {
                                               <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">@employee.Status</span>
                                           }
                                       </td>
                    <td>
                        <a href="javascript:void(0)" class="w-32-px h-32-px bg-primary-light text-primary-600 rounded-circle d-inline-flex align-items-center justify-content-center">
                            <iconify-icon icon="iconamoon:eye-light"></iconify-icon>
                        </a>
                        <a href="javascript:void(0)" class="w-32-px h-32-px bg-success-focus text-success-main rounded-circle d-inline-flex align-items-center justify-content-center">
                            <iconify-icon icon="lucide:edit"></iconify-icon>
                        </a>
                        <a href="javascript:void(0)" class="w-32-px h-32-px bg-danger-focus text-danger-main rounded-circle d-inline-flex align-items-center justify-content-center">
                            <iconify-icon icon="mingcute:delete-2-line"></iconify-icon>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>